#
# Rockchip MPI Kconfig
#

menu "Rockchip Media Process Interface"

config ROCKCHIP_MPI
    bool "rockchip platform media process interface"
    default n
    depends on ROCKCHIP && MEDIA_API
    help
      Rockchip platform media process interface

config ROCKCHIP_PIPELINE
    bool "rockchip platform media process interface pipeline"
    default n
    depends on ROCKCHIP
    select MEDIA_API
    select RTSP
    select RTSP_SERVER
    help
      Rockchip platform media process interface pipeline

endmenu
