#
# AXERA MPI Kconfig
#

menu "AXERA Media Process Interface"

config AXERA_MPI
    bool "axera platform media process interface"
    default n
    depends on AXERA
    select RTSP
    select SIMPLE_RTSP_SERVER
    help
      Axera platform media process interface

endmenu
