#
# Nvidia jetson(nano/nx) Application Kconfig
# 

menu "Nvidia jetson Application"

choice
prompt "Nvidia jetson Application Implementation"
depends on NVIDIA && JETSON
default JETSON_UNKNOWN

config JETSON_XAVIER_DSL
    bool "Nvidia Jetson Xavier NX deepstream-services-library"

config JETSON_UNKNOWN
    bool "Unknown Application"
endchoice

endmenu
